@font-face {
    font-family: 'pixelFont';
    src: url('../assets/fonts/PublicPixel-E447g.ttf') format('truetype');
}


html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(174, 164, 164);
    font-family: 'Arial', sans-serif;

    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
}

#menu {
    color: white;

    #start,
    #home,
    #restart,
    #fullscreen {
        background-color: rgb(255, 117, 117);
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
    }

    #start:hover,
    #home:hover,
    #restart:hover,
    #fullscreen:hover {
        background-color: rgb(255, 80, 80);
        color: white;
    }
}

#profile {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

#profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 'play play'
        'vrienden account';

    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.HomeMenuList {
    width: 50%;

    margin: auto;
    margin-top: 10%;
}

.HomeMenuList #buttons * {
    text-align: center;

    border-radius: 10px;

    background-color: #D37575;

    color: white;
    font-family: 'pixelFont';

    padding: 8px;

    text-decoration: none;
}

#play {
    grid-area: play;
}

#vrienden {
    grid-area: vrienden;
}

#account {
    grid-area: account;
}

#logo {
    display: flex;
    flex-direction: row;

    justify-content: center;

    margin-bottom: 8px;
}

.pixel-corners {
    clip-path: polygon(0px calc(100% - 8px),
            4px calc(100% - 8px),
            4px calc(100% - 4px),
            8px calc(100% - 4px),
            8px 100%,
            calc(100% - 8px) 100%,
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 4px) calc(100% - 8px),
            100% calc(100% - 8px),
            100% 8px,
            calc(100% - 4px) 8px,
            calc(100% - 4px) 4px,
            calc(100% - 8px) 4px,
            calc(100% - 8px) 0px,
            8px 0px,
            8px 4px,
            4px 4px,
            4px 8px,
            0px 8px);
}

#menu {
    position: fixed;

    width:100%;
}

.gameOverMenu {
    top:56%;
    left:41%;
}

#menu .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width:100%;
}

.menu * {
    max-height: 39px;
    min-height: 39px;
}

/* Profile */
#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.vrienden {
    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;
    row-gap:8px;
    justify-content: center;
    align-items: center;
}

main {
    width:100%;
    height:100%;
}

.buttons {
    width:60%;
    padding:8px;

    background-color: rgb(255, 117, 117);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.buttons * {
    width:100%;

    border-width:0px;

    padding:5px;
}

.buttons input {
    padding-left:10px;
    padding-right:10px;
}

.friends {
    display:flex;
    flex-direction: row;
    column-gap:8px;
}

.selected {
    background-color: rgb(173, 172, 172) !important;
}

.welkom {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
}